.person__list {
  padding: 0 3rem 3rem 3rem;
}

.person__title {
  font-size: 1.75rem;
  margin: 1.5rem;
  text-align: center;
}

.person__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
