.header {
    padding: .5rem 2.5rem;
    align-items: center;
    display: flex;
    justify-content:space-between;
    background-color: rgb(59, 5, 22);
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 20px;
}

a > span:hover {
    color: lawngreen;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

